
/* create course button */
.create-cor{
      background: #0062A9;
      padding: 8px;
      border-radius: 8px;
      color: white !important;
      margin-right: 10px;
      text-decoration: none !important;
}

.view-report{
      float: right;
}
/*sidebar style  */
.scrollbar-sidebar{
      background: #0062A9;
}
.sidebar-ul li{
      padding: 7px 0px;
      list-style: none;
      border-bottom: 1px solid white;
}
.sidebar-ul li a{
      text-decoration: none;
      color: white !important;
      background: transparent !important;
      font-size: 1.1rem;

}


/* main app */
.app-main{
      background-color: #D0EBFF;
}

/* icon */
.icon{
      width: 20px !important ;
}
     /* .pie{
      margin-left: 20px;
    } */

    .imgg{
      background-size: cover ;
      object-fit: cover;
          }
  /* graph */
  #bar-chart-1{
      height: 180px !important;
      width: 500px !important;
  }
  
/* progress bar in card */
.progress {
      height: 15x;
      border-radius: 10px;
      background-color: #eee;
    }
    
    .progress-bar {
      height: 100%;
      border-radius: 10px;
      background-color: #F4C54B;
    }
  @media only screen and (max-width: 500px) {
      .pie{
            margin-left: 0px;
            margin-top: 20px;

          }
          #bar-chart-1{
            width: 300px !important;
          }
    }